DATABASE_URL="postgresql://postgres:4170@localhost:5432/syshub?schema=public"
PORT=3000
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=usuario@example.com
MAIL_PASS=tu_clave
MAIL_FROM="Syshub <no-reply@syshub.com>"
JWT_SECRET="syshub_dev_secret"
JWT_EXPIRES_IN="1d"
